@font-face {
    font-family: 'TASA';
    src: url('../public/fonts/TASAOrbiterVF.woff2') format('woff2');
    font-display: swap;
}
:root {
	--ff: 'TASA', Helvetica, Ariel, sans-serif;
	--c-grey-l: #e4e4e5;
	--c-grey-xl: #f0f0f1;
	--c-red-xl: #fff2f4;
	--c-grey-d: #333333;
	--c-pink: #ff286d;
	--c-blue: #00d5ec;
	--h-btns-wrap: 65px;
}
/* HTML5 DOCTOR RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,var,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing: border-box;}
body{line-height:1}
article,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,ul{list-style:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing: border-box;}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0;padding:0}
input,select{vertical-align:middle}
textarea:focus, input:focus{ outline: 0; }

html,
body,
#root,
#app-wrap
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
	font-family: var(--ff);
}
.num-vids {
	background: rgba(255,255,255,0.4);
	padding: 10px 20px;
	border-radius: 10px;
	color: #000;
	font-family: var(--ff);
	font-size: 14px;
	white-space: nowrap;
}
.clouds-header {
	position: absolute;
	top: 0 !important;
	left: auto !important;
	right: 0 !important;
	transform:none !important;
	color: #ccc;
	width: 300px;
	text-align: right !important;
	background: #00fff0;
}
.clouds-header h1 {
	font-size: 14px;
	font-weight: normal;	
}
#toggleColors,
#stats-day-indicator,
#tag-select-wrap, 
#app-wrap > aside {
	position: absolute;
	top: 0;
	left: 0;
/*	width: 100%;*/
	z-index: 20;
}
#app-wrap > aside {
	left: auto;
	right: 0;
}
#app-wrap > main {
	height: 100%;
}
#tag-select-wrap > header {
	padding-top: 10px;
	padding-left: 10px;
}
body.start-page #app-wrap > aside {
	inset: 0 0 0 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav a {
	display: inline-block;
	margin: 4px 10px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	color: #000;
	font-weight: 700;
	text-decoration: none;
	transition: transform .3s ease;
}
nav a:hover {
	background-color: var(--c-pink);
	color: #fff;
	transform: translateY(-4px);
}
body:not(.start-page) nav a {
	margin: 0 1px;
	border-radius: 0;
}
body:not(.start-page) nav a:hover { transform:none }
#tag-select-wrap {
	position: absolute;
	left: 10px;
	top: 40px;
	color: #fff;
}
#tag-select-wrap.calendar-page { color: #333; }
#tag-select-wrap > header {
	display: flex;
	align-items: center;
}
button {
	-webkit-appearance:none;
	border:none;
	margin-right: 3px;
	font-family: var(--ff);
	font-size: 16px;
	padding: 3px 7px;
	border-radius: 3px;
}
button.btn-active {
	background: #000;
	color: #fff;
}
#stats-day-indicator {
	top: 100px;
	color: #fff;
}
h3 {
	margin-top: 7px;
	margin-bottom: 15px;
}
#tag-select-wrap h3 {
	margin-right: 20px;
}
#toggleColors {
	left: auto;
	right: 0;
}
/* Foons Editor output */
#user-profile-wrap,
#editorOutput {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 65px;
	width: 100%;
	max-width: 600px;
	padding: 20px;
	color: #151823;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	border-radius: 16px 16px 0 0 ;
}
#user-profile-wrap,
#editorOutput.shown {
	transform: translateY(0%);
}
#editorOutput a {
	display: block;
	cursor: pointer;
}

.ops-wrap {
	display: flex;
	flex-wrap:wrap;
}
.ops-wrap a {
	padding: 5px 15px;
	border-radius: 3px;
	background-color: var(--c-grey-xl);
	font-weight: bold;	
	margin-right: 6px;
	margin-bottom: 6px;
	font-size: 16px;
}
.ops-wrap a.rand-btn {
	background-color: var(--c-red-xl);
}
.ops-wrap a.active,
.ops-wrap a:hover {
	background-color: #151823;
	color: #fff;
}
a.closer,
a#closer,
.phoneFront a#closeInfo,
#editorOutput header a#closeEditor {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../public/ux/sprite.svg);
	background-position: 0 0;
	text-indent: -9999px;
	cursor: pointer;
}
a#closer { display: none; }
#user-profile-wrap header h1,
#editorOutput header h1 {
	font-size: 27px;
	font-weight: 700;
}
#user-profile-wrap > header,
#editorOutput > header {
	margin-bottom: 20px;
	background-color: #000;
	color: #fff;
	margin: -20px;
	margin-bottom: 7px;
	padding: 15px 20px;
}
#editorOutput h2 {
	font-size: 19px;
	font-weight: bold;
	border-bottom: 1px solid #8a8a8a;
	padding-bottom: 7px;
	margin-bottom: 15px;
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
#day-info em,
#editorOutput h2 > em {
	font-style: normal;
	font-weight: 400;
}
.mode-edit #editorOutput h2 { 
	cursor: pointer; 
	position: relative;
}
.mode-edit #editorOutput h2:after {
	content: ' ';
	display: block;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	position: absolute;
	top: 10px;
	right: 10px;
	transform: rotate(-135deg);
}
.hidden .editor-section-wrap { display: none; }
#editorOutput .hidden h2:after { 
	transform: rotate(45deg) translate3D(-5px, -5px, 0);
}

.box {
	border: 1px solid var(--c-grey-l);
	border-radius: 6px;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 15px;
	position: relative;
}
.box h3 {
	font-weight: 400;
	font-size: 19px;
	padding-left: 36px;
	position: relative;
	margin-bottom: 16px;
}
.box h3 > i {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -9px;
	left: 0;
	background: url(../public/ux/sprite.svg) no-repeat;
}
#color-wrap h3 > i { background-position: -80px -200px; }
#shape-wrap h3 > i { background-position: -120px -200px; }
#speed-wrap h3 > i { background-position: -160px -200px; }

a#get-new-color-ops {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 14px;
	color: rgba(0,0,0,0.5)
}
.box#shape-wrap {
	width: 70%;
}
a[data-shape] {
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	border: none;
	background: url(../public/ux/sprite.svg) 0 -50px no-repeat #fff;
	border-radius: 0px;
	margin-right: 10px;
	padding-right: 0;
	border-radius: 2px;
	margin-bottom: 0;
}
a[data-shape="cube"] { background-position-x: 0px; }
a[data-shape="piramid"] { background-position-x: -50px; }
a[data-shape="capsule"] { background-position-x: -100px; }
a[data-shape="diamond"] { background-position-x: -150px; }
a[data-shape="emerald"] { background-position-x: -200px; }
a[data-shape="heart"] { background-position-x: -250px; }
a[data-shape="flower"] { background-position-x: -300px; }
a[data-shape="rose"] { background-position-x: -350px; }
a[data-shape="skull"] { background-position-x: -400px; }

a[data-shape].active,
a[data-shape]:hover {
	background-color: #000;
	background-position-y: -450px;
}
#visual-types-wrap ul.visual-options li a:hover,
a[data-shape]:hover { background-color: #666; }
section#data-display {

}
section#data-display #speed-wrap {
	display: flex;
}
#speed-wrap h3 { margin-right: 15px; }

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	margin-top: -7px;
}
/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
	background: #888888;
	height: 3px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
	background:  #888888;
	height: 3px;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -8px; /* Centers thumb on the track */
   background-color: var(--c-grey-d);
   height: 20px;
   width: 6px;
   border-radius: 2px;
}
#color-wrap {
	position: relative;
	max-width: 100%;
	margin-bottom: 15px;
}
#color-wrap ul {
	display: flex;
}
#color-wrap ul li i {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #dbdbdb;
}
#color-wrap ul li a.active i { border-color: var(--c-grey-d) }

/* Tab group */
.tab-group {
	display: block;
	position: relative;
	margin-bottom: 15px;
}
.tab-group header ul {
	display: flex;
	font-size: 19px;
	font-weight: bold;
	width: 100%;
}
.tab-group header ul li {
	flex-grow: 1;
	margin-right: 10px;
}
.tab-group header ul li:last-child { margin-right: 0; }
.tab-group header ul li a {
	display: block;
	padding: 7px 15px;
	padding-top: 7px;
	color: #25272b;
	background-color: #fff;
	border-radius: 7px;
}
.tab-group header ul li a.active {
	background: var(--c-pink);
	color: #fff;
}
.tab-group div.tab {
	display: none;
}
.tab-group div.tab.active { 
	display: block; 
	min-height: 100px;
	border-top:none;
	padding-top: 15px;
/*	background: #fff;*/
}
.search-box-wrap {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
	z-index: 10;
}
.search-box-wrap > div { height: 26px; }
.search-box-wrap > div > div.wrapper > div { min-height: 26px; }
.search-box-wrap .wrapper:hover,
.search-box-wrap .wrapper,
.search-box-wrap .wrapper:focus-within {
    box-shadow: none !important;
}
.search-box-wrap .wrapper {
	border-radius: 6px !important;
	background-color: var(--c-grey-xl) !important;
	border-color: transparent !important;
}
.search-box-wrap span.search-option {
	display: block;
	text-align: left;
	cursor: pointer;
}
.tag-ops-wrap > div.ops-wrap {
	max-height: 125px;
	overflow: auto;
}
/* Select categories */
.categories-select-wrap ul {
	display: flex;
	flex-wrap: wrap;
/*	columns: 2;*/
}
.categories-select-wrap ul > li {
	width: 50%;
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.6;
/*	margin-bottom: 6px;*/
}
.categories-select-wrap ul > li input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
}
/*  ____                 __ 
   / __/________  ____  / /_
  / /_/ ___/ __ \/ __ \/ __/
 / __/ /  / /_/ / / / / /_  
/_/ /_/   \____/_/ /_/\_*/
.phoneFront {
	position: absolute;
	max-width: 400px;
	width: 400px;
	bottom: 50px;
	top: auto !important;
	left: 50%;
	transform: translateX(-110%);
	transform-origin: bottom left;	
	transition: transform .3s ease;
}
/*.phoneFront.shown { transform: translateX(0px); }*/
.phoneFront > .shapeSetter {
	padding-bottom: 205%;
	background-color: #dbdbdb;
	border: 5px solid #000;
	border-radius: 20px;
	position: relative;
	box-shadow: -0px 5px 10px rgba(0, 0, 0, .5);
	overflow: hidden;
}
.phoneFront.mode-info > .shapeSetter  { background-color: #fff; }
.phoneFront > .shapeSetter > div.inner {
	position: absolute;
	inset: 0 0 0 0;
	border-radius: inherit;
}
header.creator {
	padding-top: 80px;
	text-align: center;
}
header.creator .pic {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto 20px;
	background-color: var(--c-grey-d);
}
header.creator h3 {
	font-size: 22px;
	margin-bottom: 20px;
}

.stats-wrap ul {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.stats-wrap ul li {
	margin: 0 20px;
	font-size: 14px;
	min-width: 50px;
	position: relative;
}
.stats-wrap ul li:after {
	content: ' ';
	display: block;
	border-right: 1px solid #ccc;
	height: 90%;
	width: 5px;
	position: absolute;
	top: 0;
	right: -20px;
}
.stats-wrap ul li:last-child:after { content: none }
.stats-wrap ul li span {
	font-weight: bold;
	display: block;
	font-size: 18px;
	margin-bottom: 4px;
}
.day-counter {
	position: relative;
	margin: 20px auto;
	/*
	top: 50px;
	left: 50%;
	margin-left: -25px;
	*/
	width: 50px;
	height: 50px;
	background: url(../public/ux/sprite.svg) -720px 0 no-repeat;
	padding-top: 22px;
	letter-spacing: -0.05em;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	line-height: 1;
}
.mode-creator .day-counter {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -25px;
	margin-top: 0;
	margin-bottom: 0;
}
.vids-display {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start	;
	margin-left: -10px;
	margin-right: -10px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.mode-creator .vids-display {
	margin-left: -3px;
	margin-right: -15px;
}
.vids-display > div {
	width: calc( 33.33% - 10px);
	margin: 0 3px 6px 3px;
}
.vids-display > div > div:nth-child(1) {
	padding-bottom: 135%;
	background-color: #353134;	
	position: relative;
	border-radius: 5px;
}
.vids-display > div > div:nth-child(1) > i {
	display: block;
	width: 15px;
	height: 18px;
	background: url(../public/ux/sprite.svg) -840px 0px no-repeat;
	position: absolute;
	bottom: 10px;
	left: 10px;
/*	transform: scale(1.25);*/
	transform-origin: bottom left;
}
.btns-wrap {
	text-align: center;
	margin-top: 20px;
}
.btns-wrap button {
	display: inline-block;
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}
.btns-wrap > button:first-of-type {
	background-color: #999;
	color: #fff;
	min-width: 125px;
	text-align: center;
}
.btns-wrap button.options {
	background-color: #f0f0f1;
	position: relative;
}
.btns-wrap button.options:before {
	content: ' ';
	display: block;
	width: 10px;
	height: 6px;
	background: url(../public/ux/sprite.svg) -800px -40px no-repeat;	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -3px;

}
/* Hashtag page */
.categories-wrap > h2,
.hashtag-page > h1 {
	text-align: center;
	font-size: 19px;
	font-weight: normal;
}
.hashtag-page .vids-display  > div {
	width: calc( 50% - 10px);
}
.hashtag-page .vids-display {
	height: calc(100% - 230px) ;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: 1px;	
	margin-left: 8px;
	margin-right: 0;
}
.hashtag-page .vids-display::-webkit-scrollbar {
	width: 1px; /* Mostly for vertical scrollbars */
	opacity: 0;
}
.hashtag-page .vids-display::-webkit-scrollbar {
	width: 5px;
}
.hashtag-page .vids-display::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0);
}
.desc-wrap {
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	padding-top: 5px;
	height: 46px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hashtag-page .vid-ph {
	display: flex;
	flex-wrap: wrap;
}
.hashtag-page .vid-ph > div:nth-child(1),
.hashtag-page .desc-wrap {
	width: 100%;
	margin-bottom: 5px;
}
.hashtag-page .author-wrap {
	color: #707070;
	font-size: 14px;
	padding-left: 30px;
	padding-top: 6px;
	position: relative;
	margin-bottom: 1px;
	height: 26px;
	max-width: 120px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hashtag-page .author-wrap > i {
	display: block;
	width: 26px;
	height: 26px;
	background-color: var(--c-grey-l);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.hashtag-page .likes-wrap {
	padding-top: 8px;
	margin-right: 0;
	margin-left: auto;
	font-size: 12px;
	color: #707070;
	position: relative;
	padding-left: 14px;
}
.hashtag-page .likes-wrap > i {
	display: block;
	width: 12px;
	height: 11px;
	background: url(../public/ux/sprite.svg) -820px -140px no-repeat;	
	position: absolute;
	top: 8px;
	left: 0;
}
#testoutput {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background: #000fff;
}
.categories-wrap > h2 {
	margin-top: -5px;

}
.categories-wrap ul {
	position: absolute;
	top: 150px;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
    align-content: flex-start;
	overflow: auto;
}
li.catButton {
	width: calc(50% - 10px);
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 20px;
	background-color: var(--c-grey-l);
	padding: 5px 10px;
	position: relative;
	padding-left: 35px;
/*	height: 40px;*/
	font-size: 14px;
	padding-top: 8px;
	display: flex;
	flex-wrap: wrap;
}
li.catButton > i {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	border: 1px solid #ccc;
	left: 5px;
}
li.catButton .stat-no {
/*	margin-left: 6px;*/
	min-width: 90px;
	width: 100%;
	flex-grow: 0;
}
li.catButton .stat-no > span {
	font-weight: bold;
}
li.catButton .stat-no > small {
	font-size: 13px;
}
.calendar-ui > button#resetGridBtn {
	text-transform: lowercase;
	background-color: #666;
	color: #fff;
	font-weight: bold;
	position: absolute;
	z-index: 3;
	left: 400px;
	top: 0;
}
.calendar-ui .tag-ops-wrap {
	position: absolute;
	top: 0px;
	left: 0;
	width: 400px;
	z-index: 4;
	background-color: #fff;
	padding: 5px;
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}
.calendar-ui .tag-ops-wrap .ops-wrap {
	max-height: 90px;
}
.calendar-ui .tag-ops-wrap .ops-wrap > a {
	font-size: 12px;
	padding: 2px 5px;
	cursor: pointer;
}
.calendar-ui .search-box-wrap > div {
	height: 22px !important;

}
.calendar-ui .search-box-wrap .wrapper > div {
	min-height: 0px;
}
#bottom-buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	color: #fff;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#bottom-buttons button {
	cursor: pointer;
}
#bottom-buttons button#profileShow {
	background-color: transparent;
	color: #fff;
	position: absolute;
	width: 50px;
	font-size: 12px;
	padding-top: 30px;
	left: 30px;
	top: 10px;
	cursor: pointer;
}
#bottom-buttons button#profileShow:not(.available) {
	opacity: .2;
	cursor: default;
}
#bottom-buttons button#profileShow:before {
	content: ' ';
	display: block;
	width: 25px;
	height: 29px;
	background: url(../public/ux/sprite.svg) -400px -400px no-repeat;
	transform: scale(.8);
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -12px;
}
.mode-profile #bottom-buttons button#profileShow:before {
	background-position-x: -540px;
	background-position-y: -414px;
}
#bottom-buttons button#visualAdd {
	height: 36px;
	background-color: #fff;
	border-radius: 11px;
	padding: 0;
	position: relative;
	z-index: 1;
	margin-left: 20px;
	transition: transform .3s ease;
	cursor: pointer;
}
#bottom-buttons button#visualAdd:hover {
	transform: translateY(-2px);
}
#bottom-buttons button#visualAdd:before,
#bottom-buttons button#visualAdd:after,
#bottom-buttons button#visualAdd span {
	display: block;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	position: relative;
	background-color: #fff;
	top: 0;
	z-index: 1;
	line-height: 1;
	padding: 5px 10px;
/*	padding-top: 0px;*/
	font-weight: bold;
}
#bottom-buttons button#visualAdd:before,
#bottom-buttons button#visualAdd:after {
	content: ' ';
	background-color: var(--c-pink);
	position: absolute;
	top: 0;
	left: 6px;
	z-index: -2;
	box-sizing: border-box;
}
#bottom-buttons button#visualAdd:before {
	background-color: var(--c-blue);
	left: -6px;
}
#bottom-buttons button#visualAdd span > i {
	font-style: normal;
	font-size: 30px;
	line-height: .5;
	transform: translateY(4px);
	display: inline-block;
}
.mode-add button#visualAdd { opacity: 0; }
.mode-start .shapeSetter {
	background-color: #dbdbdb;
}
.start-screen {
	height: calc( 100% - var(--h-btns-wrap) );
	padding: 20px;
	text-align: center;
}
#visual-desc-wrap p,
.start-screen p {
	font-size: 17px;
	line-height: 1.4;
	margin-bottom: 1em;
	font-weight: 500;
}
#visual-desc-wrap p { font-weight: normal; }
i#daysofdatalogo {
	display: block;
	margin: 0px auto;
	width: 300px;
	height: 350px;
	background: url(../public/ux/sprite.svg) -1700px 0px no-repeat;
	transform: scale(.75);
	background-size: 2000px 2000px;
	border-radius: 40px;
}
#visual-types-wrap {
	margin-bottom: 20px;
}
#visual-types-wrap ul {
	display: flex;
}
#visual-types-wrap ul.visual-options.num-5 {
	transform: scale(.8);
	transform-origin: top left;
}
#visual-types-wrap ul.visual-options {
	transform-origin: top left;
	margin-bottom: 15px;
}
#visual-types-wrap ul.visual-options li {
	display: block;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	position: relative;
}
#visual-types-wrap ul.visual-options li a {
	border-radius: 5px;
	display: block;
	width: 80px;
	height: 80px;
	background: url(../public/ux/sprite.svg) 0 -300px no-repeat;
	background-color: #fff;
/*	transition: background-color .3s ease;*/
}
#visual-types-wrap ul.visual-options a[data-vis="DayBoxes"] { background-position-x: 0; }
#visual-types-wrap ul.visual-options a[data-vis="DayHeightMap"] { background-position-x: -100px; }
#visual-types-wrap ul.visual-options a[data-vis="DiamondsRing"] { background-position-x: -200px; }
#visual-types-wrap ul.visual-options a[data-vis="CreatorHeightmap"] { background-position-x: -300px; }
#visual-types-wrap ul.visual-options a[data-vis="PopSocket"] { background-position-x: -400px; }
#visual-types-wrap ul.visual-options a[data-vis="BigSingleShape"] { background-position-x: -600px; }
#visual-types-wrap ul.visual-options li a.active {
	background-color: #000;
}
#visual-types-wrap ul.visual-options li a:hover,
#visual-types-wrap ul.visual-options li a.active {
	background-position-y: -500px;
}
#visual-shape-ops-wrap a[data-shape].active { 
	background-color: #000; 
}

button#submit-data-visual {
	display: block;
	width: 100%;
	clear: both;
	margin-top: 0px;
	background-color: var(--c-pink);
	color: #fff;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: all .2s ease;
}
button#submit-data-visual:hover {
	background-color: var(--c-blue);
	color: var(--c-grey-d);
}
ul.grid-options {
	display: flex;
	margin-bottom: 15px;
}
ul.grid-options li { margin-right: 10px; }
ul.grid-options a {
	display: block;
	padding: 8px 10px;
	background-color: #fff;
	font-weight: bold;
}
ul.grid-options a.active {
	background-color: #000;
	
	color: #fff;
}
#visualsadder-test {
	position: absolute;
	top: 100px;
	left: 20px;
	background: #fff;
	padding: 20px;
	color: #000;
}
#visualsadder-test ul li a {
	display: block;
	padding: 7px 10px;
	background-color: #ccc;
	border-radius: 10px;
	margin-bottom: 4px;
	cursor: pointer;
}
#visualsadder-test ul li a:hover { background-color: #fff000; }

/* Profile  */
#user-profile-wrap {
	background-color: #242424;
}
#user-profile-wrap p {
	line-height: 1.4;
/*	font-weight: 600;*/
	margin-bottom: 10px;
	color: #fff;
}
div[id^="uac-box"] {
	background-color: #000;
	color: #fff;
	margin-top: 7px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px 4px;
}
div[id^="uac-box"] ul {
	display: flex;
	flex-wrap: wrap;
}
div[id^="uac-box"] ul li {
	width: 50%;
	position: relative;
	padding-left: 43px;
	font-size: 14px;
/*	text-transform: lowercase;*/
	margin-top: 7px;
	min-height: 30px;
	box-sizing: border-box;
/*	background-color: #f000ff;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
}
div[id^="uac-box"] ul li kbd {
/*	position: absolute;*/
/*	top: 0;*/
	right: 10px;
	font-size: 18px;
	font-weight: bold;
	font-family: var(--ff);
	margin-right: 5px;
	margin-left: auto;
}
div#uac-box-04  ul li {
	width: 33.33%;	
}
div#uac-box-04  ul li kbd { margin-left: 10px; margin-right: auto; }
div[id^="uac-box"] ul li > i {
	display: block;
	position: absolute;
	top: -5px;
	left: 0;
	width: 50px;
	height: 50px;
	background-color: #fff000;
	transform: scale(.8);
	transform-origin: top left;
	opacity: .7;
	background: url(../public/ux/sprite.svg) 0 -900px no-repeat;
}
div[id^="uac-box"] ul li > i.adds { background-position: -300px -950px; }
div[id^="uac-box"] ul li > i.edits { background-position: -400px -900px; }
div[id^="uac-box"] ul li > i.deletes { background-position: -50px -950px; }
div[id^="uac-box"] ul li > i.info { background-position: -300px -900px; }
div[id^="uac-box"] ul li > i.drags { background-position: -0px -950px; }

div[id^="uac-box"] ul li > i.hashtags { background-position: -500px -950px; }
div[id^="uac-box"] ul li > i.searches { background-position: -450px -900px; }
div[id^="uac-box"] ul li > i.creators { background-position: -350px -950px; }
div[id^="uac-box"] ul li > i.randomTags { background-position: -600px -900px; }
div[id^="uac-box"] ul li > i.categories { background-position: -550px -900px; }
div[id^="uac-box"] ul li > i.swatchesGenerated { background-position: -100px -900px; }

div[id^="uac-box"] ul li > i.visType_DayBoxes { background-position: -500px -900px; }
div[id^="uac-box"] ul li > i.visType_DiamondsRing { background-position: -550px -950px; }
div[id^="uac-box"] ul li > i.visType_DayHeightMap { background-position: -200px -900px; }
div[id^="uac-box"] ul li > i.visType_PopSocket { background-position: -600px -950px; }
div[id^="uac-box"] ul li > i.visType_CreatorHeightmap { background-position: -200px -950px; }
div[id^="uac-box"] ul li > i.visType_DiamondsGrid { background-position: -100px -950px; }

div[id^="uac-box"] ul li > i.shapeType_cube { background-position: -250px -950px; }
div[id^="uac-box"] ul li > i.shapeType_piramid { background-position: -250px -900px; }
div[id^="uac-box"] ul li > i.shapeType_capsule { background-position: -150px -950px; }
div[id^="uac-box"] ul li > i.shapeType_diamond { background-position: -50px -900px; }
div[id^="uac-box"] ul li > i.shapeType_emerald { background-position: -0px -900px; }
div[id^="uac-box"] ul li > i.shapeType_heart { background-position: -350px -900px; }
div[id^="uac-box"] ul li > i.shapeType_flower { background-position: -150px -900px; }
div[id^="uac-box"] ul li > i.shapeType_rose { background-position: -450px -950px; }
div[id^="uac-box"] ul li > i.shapeType_skull { background-position: -400px -950px; }

div[id^="uac-box"] h3 {
	margin-top: 0;
	margin-left: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}
button#clearUserData {
	display: block;
	width: calc(100% + 20px);
	background-color: #ff0000;
	margin-left: -10px;
	margin-right: -10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 15px 30px;
	cursor: pointer;
	margin-top: 7px;
	transition: all .3s ease;
}
button#clearUserData:hover {
	transform: translateY(-7px);
}
button#clearUserData.unavailable {
	transform: translateY(30px);
	opacity: 0;
}
@media screen and (max-height: 900px) {
	.phoneFront {
/*		bottom: 10px;*/
		transform: scale(.9) translateX(-110%);
	}
}
canvas {
    touch-action: none;
}

button#toggleButtonRow {
	display: none;
}
#desktop-ux-wrap {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
	display: flex;
}
#desktop-ux-wrap > a {
	display: block;
	width: 44px;
	height: 56px;
	box-sizing: border-box;
	background-color: #fff;
	margin-left: 1px;
	font-size: 13px;
	color: #999;
	text-align: center;
	padding-top: 40px;
	position: relative;
	cursor: pointer;
}
#desktop-ux-wrap > a:nth-child(1) {
	border-radius: 10px 0 0 0;
}
#desktop-ux-wrap > a > i {
	display: block;
	width: 26px;
	height: 30px;
	background: url(../public/ux/sprite.svg);
	background-position: -700px -100px;
/*	background-color: #fff000;*/
	position: absolute;
	top: 7px;
	left: 9px;
}
#desktop-ux-wrap > a#take-screenshot > i { background-position-x: -750px; }
#desktop-ux-wrap > a:hover {
	background-color: #666;
	color: #fff;
}
#desktop-ux-wrap > a:hover > i { background-position-y: -300px; }
.phoneFront.mode-screenshot {
	opacity: 0;
	display: none;
}
canvas#test-canvas {
	width: 100%;
	height: calc(100vh - 30px);
	display: block;
	margin-bottom: 0;
}
button#testss-btn {
	position: absolute;
	top: 100px;
	left: 20px;
}
#app-wrap.modal-active:before {
	content: ' ';
	display: block;
	position: fixed;
	inset: 0 0 0 0;
	z-index: 2;
	background-color: rgba(0,0,0,.7);
}
#share-img-wrap {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
	padding: 20px;
	background-color: #fff;
	z-index: 5;
}
#share-img-wrap a.closer {
	background-color: #fff;
	border: 5px solid #fff;
	width: 30px;
	height: 30px;
	top: -30px;
	right: 0px;
}
#share-img-wrap p {
	margin-top: 20px;
	max-width: 250px;
	line-height: 1.4;
}
/* Info tabs */
.phoneFrontInfo,
.phoneFrontInfo .shapeSetter,
.phoneFrontInfo .shapeSetter .inner {
	position: relative;
	height: 100%;
}
.phoneFrontInfo .shapeSetter .inner {
	height: calc(100% - var(--h-btns-wrap));
}
#info-page-tabs-wrap ul {
	display: flex;
}
#info-page-tabs-wrap ul > li {
	width: 50%;
	text-align: center;
}
#info-page-tabs-wrap ul > li a {
	display: block;
	padding: 10px;
	cursor: pointer;
	font-size: 19px;
	font-weight: bold;
}
#info-page-tabs-wrap ul > li a:not(.active) {
	background-color: var(--c-grey-xl);
}
#info-page-tabs-wrap ul > li:first-of-type > a:not(.active) { border-radius: 0 0 10px 0; }
#info-page-tabs-wrap ul > li:last-of-type > a:not(.active) { border-radius: 0 0 0 10px; }

#visual-desc-wrap {
	height: 100%;
	padding: 32px;
	padding-top: 60px;
}
#visual-desc-wrap > i {
	display: block;
	width: 150px;
	height: 150px;
	background: url(../public/ux/sprite.svg);
	background-size: 3000px 3000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
#visual-desc-wrap > i.DayBoxes { background-position: -600px -2550px; }
#visual-desc-wrap > i.DayHeightMap { background-position: -600px -2400px; }
#visual-desc-wrap > i.DiamondsGrid { background-position: -300px -2550px; }
#visual-desc-wrap > i.PopSocket { background-position: -1800px -2550px; }
#visual-desc-wrap > i.BigSingleShape { background-position: -0px -2400px; }
#visual-desc-wrap > i.CreatorHeightmap { background-position: -1500px -2400px; }
#visual-desc-wrap > i.DiamondsRing { background-position: -1650px -2550px; }

#visual-desc-wrap h2 {
	font-size: 19px;
	margin-bottom: .7em;
}
/* Editor: Text options */
.text-inputs-wrap {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
}
.text-inputs-wrap > * {
	width: 50%;
}
.text-inputs-wrap > .radio-group-wrap {
	width: 100%;
}
.text-position-setter {
	margin-bottom: 5px;
}
.text-inputs-wrap > label,
#display-tags-wrap {
	font-weight: bold;
}
.text-position-setter select { margin-left: 10px; }
#display-tags-wrap {
	display: block;
	width: 100%;
	margin-bottom: 3px;
/*	border-bottom: 1px solid #000;*/
}
/* Timeline */
#timeline-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	max-width: calc(100vw - 90px);
	height: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
/*	border-radius: 0 10px 0 0;*/
	padding: 5px 16px;
	display: flex;
}
#timeline-wrap button#play-pause-btn {
	-webkit-appearance: none;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	padding: 0;
	background: url(../public/ux/sprite.svg) -600px 0 no-repeat;
	opacity: .7;
	cursor: pointer;
}
#timeline-wrap button#play-pause-btn.pause { background-position-x: -652px; }
#day-info {
	margin-left: auto;
	margin-right: 0;
	width: 65px;
	font-size: 13px;
	line-height: 1.1;
	color: var(--c-grey-d);
}
#day-date {
	display: block;
	font-weight: bold;
	color: var(--c-dark);
	font-size: 15px;
}
#frame-setter {
	width: calc(100% - 100px);
	padding: 0 15px;
	height: 100%;
}
#frame-setter input[type="range"] {
	width: 100%;
	height: 100%;
	margin-top: 0;
}
/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
#frame-setter input[type="range"]::-webkit-slider-runnable-track {
	background: url(../public/ux/timeline-bg.svg?v=2) 0 0 no-repeat;
	background-size: cover;
	height: calc( 100% - 20px);
	margin-top: 0;
}
/******** Firefox ********/
#frame-setter input[type="range"]::-moz-range-track {
	background: url(../public/ux/timeline-bg.svg?v=2) 0 0 no-repeat;
	background-size: cover;
	height: calc(100% - 20px);
	margin-top: 0;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
#frame-setter input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: 0px; /* Centers thumb on the track */
	background-color: var(--c-grey-d);
	height: calc(100% + 20px);
	margin-top: -10px;
	width: 5px;
	border-radius: 2px;
}
#frame-setter input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: 0px; /* Centers thumb on the track */
	background-color: var(--c-grey-d);
	height: 100%;
	margin-top: -10px;
	width: 5px;
	border-radius: 2px;
}
a#google-btn {
	display: inline-block;
	text-indent: -9999px;
	width: 23px;
	height: 23px;
	background: url(../public/ux/sprite.svg) -40px 0 no-repeat;
	margin-left: 5px;
	transform: translateY(-4px);
}

/* Hide some stuff in share-mode */
body.share-mode #desktop-ux-wrap,
body.share-mode button#visualAdd,
body.share-mode button#profileShow,
body.share-mode #app-wrap > aside > nav,
body.share-mode #timeline-wrap {
	display: none;
}

@media screen and (max-width: 900px) {
	:root {
		--h-btns-wrap: 50px;
	}

	#timeline-wrap {display: none;}

	#bottom-buttons {
		height: var(--h-btns-wrap);
	}
	#bottom-buttons button#profileShow { top: 2px; }
	.phoneFront {
		max-width: none;
		top: auto;
		transform: none;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
	.phoneFront > .shapeSetter {
	    padding-bottom: 0;
	    background-color: transparent;
	    border: none;
	    position: static;
	    box-shadow: none;
	    overflow: visible;
	}
	#editorOutput {
		max-width: 90%;
	}
	.mode-info .phoneFrontInfo,
	.phoneFront.mode-add #editorOutput,
	.phoneFront.mode-edit #editorOutput {
		height: calc(100vh - 65px);
		max-height: 575px;
		width: 90%;
		max-width: 600px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px 20px 0 0 ;
		overflow: auto;
		overflow-x: hidden;
		position: absolute;
		top: auto;
		left: 50%;
		bottom: var(--h-btns-wrap);;
		transform: translateX(-50%);
		background-color: #dbdbdb;
	}
	.phoneFront  #editorOutput,
	.mode-info .phoneFrontInfo {
		border: 2px solid #000;
		border-bottom: none;
	}
	.mode-info .phoneFrontInfo {
		padding-left: 0px;
		padding-right: 0px;
	}
	button#toggleButtonRow {
		display: block;
		position: absolute;
		width: 36px;
		height: 36px;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 10px;
		right: 20px;
		opacity: .5;
	}
	button#toggleButtonRow:before {
		content: ' ';
		display: block;
		width: 11px;
		height: 20px;
		background: url(../public/ux/sprite.svg);
		background-position: -543px -19px;
		text-indent: -9999px;
		position: absolute;
		top: 8px;
		left: 13px;
		transform: rotate(180deg) scale(1.2);
	}
	.collapsed button#toggleButtonRow { 
		opacity: 1; 
		right: 6px;
	}
	.collapsed button#toggleButtonRow:before { 
		transform: rotate(0deg) scale(1.2);  
		left: 9px;
	}
	#bottom-buttons.collapsed {
		left: calc(100% - 60px);
		border-radius: 10px 0 0 10px;
	}
	#bottom-buttons.collapsed #profileShow,
	#bottom-buttons.collapsed #visualAdd { display: none; }

	.mode-add a#closer,
	.mode-edit a#closer,
	.mode-info a#closer/*,
	.mode-profile a#closer*/ {
		position: fixed;
		display: block;
		bottom: 590px;
		top: auto;
		margin-right: 20px;
		right: calc( ( 100% - 600px) / 2);
		z-index: 10;
		background-position-y: -400px;
	}
	.mode-info a#closer { 
		background-position-y: 0; 
		right: calc( ( 100% - 400px) / 2);
	}
	.phoneFrontInfo.mode-creator .shapeSetter {
		position: relative;
		height: 100%;
	}
	.mode-creator .btns-wrap,
	header.creator .pic { display: none; }
	.vids-display {	bottom: 0; 	}
	.hashtag-page .vids-display { height:calc(100% - 160px) }
	body.phone nav a,
	nav a[href*="calendar"] { display: none; }
	
	#user-profile-wrap > header, #editorOutput > header {
		padding: 10px;
		margin-left: -10px;
		margin-right: -10px;
	}
	#user-profile-wrap header h1, #editorOutput header h1 { font-size: 18px; }
	#editorOutput h2 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.tab-group header ul li a {
		font-size: 16px;
		padding: 7px 10px;
		text-align: center;
	}
	.ops-wrap a {
		font-size: 14px;
		padding: 5px 8px;
	}
	#visual-types-wrap ul,
	#visual-types-wrap ul.visual-options {
		transform-origin: top left;
		transform: scale(.75);
		margin-bottom: -20px;
	}
	#color-wrap { padding-top: 1px;	}
	a#get-new-color-ops { 
		font-size: 12px; 
		top: 4px; 
	}
	#visual-types-wrap,
	#color-wrap,
	h3 {
		margin-bottom: 10px;
	}
	#color-wrap ul li i {
		width: 24px;
		height: 24px;
	}
	.tag-ops-wrap > div.ops-wrap { max-height: 90px }
	.mode-info .phoneFrontInfo {
		max-width: 400px;
	}
	body #app-wrap aside > nav,
	#desktop-ux-wrap { display: none; }
	#visual-desc-wrap { padding-top: 20px; }
	#visual-desc-wrap > i { margin-bottom: 20px; }
	.categories-wrap ul { padding-left: 10px; }
	.phoneFrontInfo .shapeSetter .inner { height: 100%; }
	#visual-desc-wrap p, .start-screen p {
		font-size: 15px;
		font-weight: normal;
	}
}
@media screen and (max-height: 790px) {
	.phoneFront {
	    transform: scale(.8) translateX(-110%);
	}
}
@media screen and (max-height: 700px) and (min-width: 601px) {
	.phoneFront { transform: scale(.7) translateX(-110%);}
}
@media screen and (max-height: 600px) and (min-width: 601px) {
	.phoneFront { transform: scale(.6) translateX(-110%); }
}

@media screen and (max-width: 630px) {
	.mode-add a#closer, 
	.mode-edit a#closer, 
	.mode-info a#closer, 
	.mode-profile a#closer {
		right: 15px;
		bottom: 585px;
	}
	.mode-info a#closer {
		bottom: 545px;
	}
}